
/**************************************************************************/
/*  Base styles                                                           */
/**************************************************************************/

/**********************************************************************/
/*  Paragraph														  */
/**********************************************************************/

p.subtitle-paragraph
{
    margin-bottom:40px;
}

p.subtitle-paragraph,
p.subtitle-paragraph span.bold
{
    padding:0px;
    font-size:24px;
    font-weight:400;
    line-height:120%;
}

p.subtitle-paragraph span.bold
{
    clear:both;
    display:block;
    font-weight:700;
}

/**********************************************************************/
/*  Accordion														  */
/**********************************************************************/

.nostalgia-accordion
{

}

.nostalgia-accordion .ui-corner-all,
.nostalgia-accordion .ui-corner-top
{
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}

.nostalgia-accordion .ui-accordion-header
{

}

.nostalgia-accordion .ui-accordion-header a
{
    font-size:24px;
    font-weight:500;
    padding:0px 10px 0px 10px;
}

.nostalgia-accordion .ui-accordion-header .ui-icon
{
    display:none;
}

.nostalgia-accordion .ui-accordion-content
{
    padding:15px 0px 15px 0px;
}

.nostalgia-accordion .ui-accordion-content>p
{
    padding-top:0px;
    padding-bottom:0px;
}

.nostalgia-accordion .ui-state-active,
.nostalgia-accordion .ui-state-default,
.nostalgia-accordion .ui-widget-content,
.nostalgia-accordion .ui-widget-header .ui-state-active,
.nostalgia-accordion .ui-widget-content .ui-state-active,
.nostalgia-accordion .ui-widget-header .ui-state-default,
.nostalgia-accordion .ui-widget-content .ui-state-default
{
    border:none;
}

.nostalgia-accordion .ui-widget-content
{
    background:none;
}

.nostalgia-accordion .ui-state-default,
.nostalgia-accordion .ui-widget-header .ui-state-default,
.nostalgia-accordion .ui-widget-content .ui-state-default
{
    background:#000000 url('../image/icon_plus.png') right center no-repeat;
}

.nostalgia-accordion .ui-state-active,
.nostalgia-accordion .ui-widget-header .ui-state-active,
.nostalgia-accordion .ui-widget-content .ui-state-active
{
    background:transparent url('../image/icon_minus.png') right center no-repeat;
}

.nostalgia-accordion .ui-state-active a
{
    padding-left:0px;
}

/**********************************************************************/
/*  Image list														  */
/**********************************************************************/

ul.image-list
{
    margin:0px;
    padding:0px;
    list-style-type:none;
}

ul.image-list li
{
    width:230px;
    margin-bottom:30px;
}

ul.image-list li a
{
    width:230px;
    height:150px;
    display:block;
}

ul.image-list li.left
{
    clear:both;
    float:left;
}

ul.image-list li.right
{
    float:right;
}

ul.image-list div.image-list-caption
{
    padding:10px;
    padding-right:40px;
    background:#000000 url('../image/icon_plus_yellow.png') 97% center no-repeat;
}

ul.image-list div.image-list-caption div.image-list-caption-subtitle
{
    font-size:11px;
}

/**********************************************************************/
/*  Fancybox														  */
/**********************************************************************/

a.fancybox-image,
a.work-img,
a.fancybox-video
{
    width:230px;
    height:150px;
    display:block;
    position:relative;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-image:url('../image/preloader.gif');
}

.page-post a.fancybox-image, a.work-img,
.page-works a.fancybox-image, a.work-img,
.page-testimonials a.fancybox-image, a.work-img {
    background-image: url('../image/ajax-loader-orange.gif');
}

a.fancybox-image img,
a.work-img img,
a.fancybox-video img
{
    display:none;
    position:absolute;
}

a.fancybox-image span,
a.work-img span,
a.fancybox-video span
{
    opacity:0;
    width:100%;
    height:100%;
    cursor:pointer;
    position:absolute;
    background-color:#000000;
    background-repeat:no-repeat;
    background-position:50% 50%;
    #filter:alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

a.fancybox-image span,
a.fancybox-video span,
a.work-img span,
a.fancybox-image:hover span,
a.fancybox-video:hover span,
a.work-img:hover span
{
    transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

a.fancybox-image:hover span,
a.work-img:hover span,
a.fancybox-video:hover span
{
    opacity:0.8;
    #filter:alpha(opacity=80);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

a.fancybox-image span  { background-image:url('../image/thumb_image_overlay.png'); }
a.work-img span  { background-image:url('../image/thumb_image_overlay.png'); }
a.fancybox-video span  { background-image:url('../image/thumb_video_overlay.png'); }

/**************************************************************************/
/*  About		                                                          */
/**************************************************************************/

div.page-about
{

}

div.page-about #advertisers > i{
    background-image:url('../image/icon/icon-1/icon_people.png');
    position: absolute;
    min-width: 48px;
    min-height: 48px;
}

#advertisers > p {
    margin-left: 60px;
}

div.page-about #advertisers-list,
div.page-about #cover-countries-list {
    margin-left: 90px;
    padding-left: 20px;
}

div.page-about ul.list-1
{
}

div.page-about ul.list-1 li
{
    margin-bottom:25px;
}

div.page-about ul.list-1 li p span
{
    float:left;
    display:block;
    margin-right:20px;
}

div.page-about ul.list-1 li h3
{
    margin-top:0px;
    margin-bottom:10px;
}

/**************************************************************************/
/*  Blog		                                                          */
/*	Post																  */
/**************************************************************************/

div.page-blog
{

}

div.page-post
{

}

/**********************************************************************/
/*  Blog / Category list	                                          */
/**********************************************************************/

div.page-blog ul.blog-category-list
{
    margin:0px;
    padding:0px;
    margin-top:10px;
    list-style-type:none;
    border-left:double 3px #000000;
}

div.page-blog ul.blog-category-list li
{
    clear:both;
    padding-left:25px;
}

div.page-blog ul.blog-category-list li a
{
    padding:2px;
    font-size:12px;
}

div.page-blog ul.blog-category-list li a:hover,
div.page-blog ul.blog-category-list li a.selected
{
    text-decoration:none;
}

/**********************************************************************/
/*  Blog / Post	list		                                          */
/**********************************************************************/

ul.blog-list
{
    margin:0px;
    padding:0px;
    list-style-type:none;
}

/******************************************************************/
/*  Blog / Post			                                          */
/*  Post													      */
/******************************************************************/

ul.blog-list li.blog-list-post
{
    margin-top:30px;
}

div.post
{

}

/**************************************************************/
/*  Blog / Post / Header								      */
/*	Post / Header											  */
/**************************************************************/

ul.blog-list li.blog-list-post div.blog-list-post-header
{

}

div.post div.post-header h3,
div.post div.post-header span,
ul.blog-list li.blog-list-post div.blog-list-post-header h3,
ul.blog-list li.blog-list-post div.blog-list-post-header span
{
    line-height:120%;
}

div.post div.post-header span span.month,
ul.blog-list li.blog-list-post div.blog-list-post-header span span.month
{
    float:left;
    margin-right:10px;
    padding-right:10px;
    border-right:solid 1px #FFFFFF;
}

div.post div.post-header h3,
ul.blog-list li.blog-list-post div.blog-list-post-header h3
{
    width:80%;
    float:left;
    margin:0px;
}

div.post div.post-header span,
ul.blog-list li.blog-list-post div.blog-list-post-header span
{
    float:right;
    font-size:30px;
}

/**************************************************************/
/*  Blog / Post / Image									      */
/**************************************************************/

div.post div.post-image,
ul.blog-list li.blog-list-post div.blog-list-post-image
{
    margin-top:15px;
}

div.post div.post-image a.fancybox-image,
div.post div.post-image a.fancybox-video,
ul.blog-list li.blog-list-post div.blog-list-post-image a.fancybox-image,
ul.blog-list li.blog-list-post div.blog-list-post-image a.fancybox-video
{
    width:490px;
    height:200px;
}

div.post div.post-image a.fancybox-image span,
ul.blog-list li.blog-list-post div.blog-list-post-image a.fancybox-image span
{
    background-image:url('../image/blog_thumb_image_overlay.png');
}

div.post div.post-image a.fancybox-video span,
ul.blog-list li.blog-list-post div.blog-list-post-image a.fancybox-video span
{
    background-image:url('../image/blog_thumb_video_overlay.png');
}

/**********************************************************/
/*  Blog / Post / Image / Caption						  */
/*  Post / Image / Caption								  */
/**********************************************************/

div.post div.post-image div.caption,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption
{
    background:#000000;
    padding:10px 20px 10px 20px;
}

div.post div.post-image div.caption,
div.post div.post-image div.caption a,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption a
{
    font-size:12px;
}

div.post div.post-image div.caption a:hover,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption a:hover
{
    text-decoration:underline;
}

div.post div.post-image div.caption span.author,
div.post div.post-image div.caption span.comment,
div.post div.post-image div.caption span.category,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption span.author,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption span.comment,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption span.category
{
    float:left;
    display:block;
    padding-left:20px;
}

div.post div.post-image div.caption span.category,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption span.category
{

}

div.post div.post-image div.caption span.author,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption span.author
{
    margin-left:30px;
}

div.post div.post-image div.caption span.comment,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption span.comment
{
    float:right;
}

/**************************************************************/
/*  Blog / Post / Content									  */
/*  Post / Content											  */
/**************************************************************/

div.post p.post-content
{
    margin-top:20px;
}

ul.blog-list li.blog-list-post p.blog-list-post-content
{
    margin-top:10px;
}

ul.blog-list li.blog-list-post a.read-more
{
    float:left;
    clear:both;
    display:block;
    min-width:10px;
    min-height:5px;
    margin-top:10px;
    font-style:italic;
    padding-right:20px;
    background-repeat:no-repeat;
    background-position:right center;
    background-image:url('../image/icon_arrow.png');
}

/**********************************************************************/
/*  Post / Comment list		                                          */
/**********************************************************************/

ul.comment-list,
ul.comment-list li ul
{
    margin:0px;
    padding:0px;
    list-style-type:none;
}

ul.comment-list
{
    margin-top:20px;
}

ul.comment-list li ul
{
    margin-left:80px;
}

ul.comment-list li,
ul.comment-list li ul li
{

}

ul.comment-list li>div.clear-fix,
ul.comment-list li ul lidiv.clear-fix
{
    margin-bottom:25px;
}

ul.comment-list li div>img
{
    float:left;
}

ul.comment-list li,
ul.comment-list li p
{
    font-size:13px;
}

ul.comment-list li div>span
{
    display:block;
    font-size:12px;
    font-weight:bold;
}

ul.comment-list li div>p
{
    margin-top:0px;
    padding-top:0px;
}

ul.comment-list li div>p,
ul.comment-list li div>span
{
    padding:0px 0px 0px 100px;
}

/**************************************************************************/
/*  Contact		                                                          */
/**************************************************************************/

div.page-contact
{

}

div.page-contact div.contact-details
{

}

div.page-contact div.contact-details-about
{
    float:left;
    width:205px;
    height:200px;
    padding:20px;
    line-height:170%;
    background:#000000;
    background-repeat:no-repeat;
    background-position:95% 95%;
    background-image:url('../image/icon_plus_yellow.png');
}

div.page-contact div.contact-details-about ul
{
    margin-top:20px;
}

div.page-contact div.contact-details-about ul li
{
    padding-left: 18px;
}

#map,
div.page-contact div.contact-details-map
{
    width:245px;
    height:200px;
}

div.page-contact div.contact-details-map
{
    float:right;
    width:245px;
    height:200px;
    position:relative;
}

div.page-contact div.contact-details-map div.contact-details-map-arrow
{
    top:20px;
    z-index:10;
    width:18px;
    height:35px;
    position:absolute;
    background-repeat:no-repeat;
    background-position:0px 0px;
    background-image:url('../image/icon_map_arrow.png');
}

.see-link {
    font-style: italic;
    font-size: 20px;
}

/* bandanas - about */
#nostalgia-tab[data-class="home"],
#nostalgia-tab[data-class="pricing"],
#nostalgia-tab-content[data-class="home"],
#nostalgia-tab-content[data-class="pricing"] .jspTrack,
#nostalgia-tab-content[data-class="pricing"],
#nostalgia-tab-content[data-class="pricing"] ul.social-list {
    background-color: #CBCF1A;
}

#nostalgia-tab-content[data-class="pricing"] .jspDrag {
    background-color: #9EA11A;
}

#nostalgia-tab[data-class="about"],
#nostalgia-tab[data-class="contact"],
#nostalgia-tab-content[data-class="about"],
#nostalgia-tab-content[data-class="about"] .jspTrack,
#nostalgia-tab-content[data-class="contact"] .jspTrack,
#nostalgia-tab-content[data-class="contact"],
#nostalgia-tab-content[data-class="contact"] ul.social-list,
#nostalgia-tab-content[data-class="about"] ul.social-list {
    background-color: #FFC003;
}

#nostalgia-tab[data-class="works"],
#nostalgia-tab[data-class="testimonials"],
#nostalgia-tab-content[data-class="works"],
#nostalgia-tab-content[data-class="works"] .jspTrack,
#nostalgia-tab-content[data-class="testimonials"] .jspTrack,
#nostalgia-tab-content[data-class="testimonials"],
#nostalgia-tab-content[data-class="testimonials"] ul.social-list,
#nostalgia-tab-content[data-class="works"] ul.social-list {
    background-color: #F77B1B;
}

#nostalgia-tab-content[data-class="works"] .jspDrag,
#nostalgia-tab-content[data-class="testimonials"] .jspDrag {
    background-color: #B85A12;
}

.page-about .subtitle-paragraph {
    margin-bottom: 20px;
}

#bandanas {
    padding: 7px;
    border: 2px solid #444;
    margin-bottom: 30px;
}

#bandanas p {
    font-family: 'Dosis';
}

/* advertisers */
#advertisers {
    margin-bottom: 20px;
    margin-left: 0;
}

#advertisers p.subtitle-paragraph {
    margin-left: 0;
    padding-left: 0 !important;
    color: #fff;
}

#advertisers p.subtitle-paragraph {
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

#advertisers-wrapper {
    margin-bottom: 20px;
}

#advertisers-list,
#cover-countries-list {
    margin-left: 0 !important;
    list-style: none;
    overflow: hidden;
}

#advertisers-list li,
#cover-countries-list li {
    font-size: 1em;
    line-height: 1.55em;
    color: #000;
    padding: 2px 0 0 25px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    width: 200px;
    float: left;
}

#advertisers-list li:hover,
#cover-countries-list li:hover {
    background-color: #000;
    color: #fff;
}

#advertisers-list li:hover a,
#cover-countries-list li:hover a {
    color: #fff;
    text-decoration: none;
}

#advertisers-list li i,
#cover-countries-list li i {
    background: #fff url('../image/icon/glyphicons-halflings.png') -332px -93px no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;

}

#advertisers-list li:hover i,
#cover-countries-list li:hover i {
    background: #000 url('../image/icon/glyphicons-halflings-white.png') -332px -93px no-repeat;
}

#advertisers h2 {
    font-size: 18px;
    font-family: 'Dosis';
    margin-top: 20px;
}

#advertisers section.testimonial {
    padding-top: 20px;
}

#advertisers section.testimonial p.subtitle-paragraph {
    color: #fff;
    padding-left: 0;
}

#advertisers section.testimonial .emphasize {
    font-weight: bold;
    text-decoration: none;
    padding: 0 4px;
    position: relative;
    width: 153px;
    display: inline-block;
}

#advertisers section.testimonial .emphasize:hover {
    background-color: #000;
    color: #fff;
}

#advertisers section.testimonial .emphasize:hover i{
    background: url('../image/icon/glyphicons-halflings-white.png') -262px -96px no-repeat;
}

#advertisers section.testimonial i.look-at-this {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    right: 0;
    background: url('../image/icon/glyphicons-halflings.png') -262px -96px no-repeat;
}

.image-list img {
    width: 230px;
    height: 150px;
}

/* works */
.works-list h2{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Dosis';
    margin-bottom: 10px;
}

.great-works div.image-list-caption {
    min-height: 40px;
}

.great-works .work-title{
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.great-works a.work-img {
    
}

.great-works img {
    height: auto;
    max-height: 150px;
}

/* testimonials page */
.page-testimonials .testimonial-list-post-image {
    overflow: hidden;
/*    width: 490px;*/
    width: 200px;
}

.page-testimonials .testimonial-list-post-image img {
/*    width: 490px;*/
    width: 200px;
}

.page-testimonials .testimonial-list-post-content {
    overflow: hidden;
    padding: 0 0 0 15px !important;
    text-indent: 20px;
    text-align: justify;
    width: 260px;
}

ul.testimonial-list {
    margin-bottom: 40px;
}

.page-testimonials ul.testimonial-list .testimonial-post {
    overflow: hidden;
}

.testimonial-list-post-image span.mist {
    background-color: #444;
}

.testimonial-list-post-image.testimonial-1 {
    height: 150px;
    float: left;
}

.testimonial-list-post-image.testimonial-1 a.fancybox-image {
    width: 200px;
    height: 150px;
}

.testimonial-list-post-image.testimonial-2 a.fancybox-image {
    width: 200px;
    height: 150px;
}

.testimonial-list-post-image.testimonial-2 {
    height: 150px;
    float: right;
}

.testimonial-list-post-image.testimonial-3 a.fancybox-image {
    width: 200px;
    height: 150px;
}

.testimonial-list-post-image.testimonial-3 {
    height: 150px;
    float: left;
}

.testimonial-list-post-image.testimonial-4 a.fancybox-image {
    width: 200px;
    height: 150px;
}

.testimonial-list-post-image.testimonial-4 {
    height: 150px;
    float: right;
}

.emphasize {
    color: #000;
    text-decoration: underline;
}

/* pricing */

.page-pricing p.pricing-explanation {
    font-weight: normal;
}

.page-pricing .nostalgia-accordion p.lead {
    font-weight: bold;
}

.page-pricing span.recommend, .page-pricing span.includes, .page-pricing span.money-required, .page-pricing span.executive-take {
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin-top: 15px;
}

.page-pricing h3.money {
    margin: 0;
    color: #000;
}

.page-pricing p.normal {
    font-weight: normal;
}

.page-pricing ul.package-list {
    list-style: none;
    padding-left: 20px;
}

.page-pricing ul.package-list li {
    position: relative;
    padding: 0 0 0 15px;
}

.page-pricing ul.package-list li i{
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 5px;
}

#non-profit {
    margin-top: 50px;
}

p.package-deal, p.executive-take {
    margin-top: 20px;
}

.pricing-questions {
    margin: 30px 0 20px 0;
}

.pricing-questions ul {
    padding: 5px;
    list-style: none;
}

.pricing-questions li {
    border-bottom: 1px solid #fff !important;
    overflow: hidden;
}

.pricing-questions li.question-header {
    font-weight: normal;
    font-size: 16px;
}

.pricing-questions #question-to-ask,
.pricing-questions .question{
    width: 400px;
    display: inline-block;
    float: left;
}

.pricing-questions .question {
    font-weight: bold;
}

.pricing-questions .answer.first{
    min-height: 41px;
    line-height: 37px;
}


.pricing-questions .answer {
    background-color: #91D91E;
    padding: 2px 0 0 30px;
    overflow: hidden;
    width: auto;
    position: relative;
    color: #fff;
}

.pricing-questions .answer i{
    background: url('../image/icon/glyphicons-halflings-white.png') -286px 1px no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 5px;
}

.pricing-questions .answer.first i{
    top: 12px;
}

/* links */
#side-navigation .home,
#side-navigation .pricing {
    background-color: #000;
/*    background-color: #CBCF1A;*/
}
#side-navigation li a.home.active,
#side-navigation li a.pricing.active,
#side-navigation .home:hover,
#side-navigation .pricing:hover {
/*    background-color: #CCCF5B;*/
    background-color: #CBCF1A;
}

#side-navigation .about,
#side-navigation .contact{
    background-color: #000;
/*    background-color: #FFC003;*/
}
#side-navigation li a.about.active,
#side-navigation li a.contact.active,
#side-navigation .about:hover,
#side-navigation .contact:hover {
/*    background-color: #FAD975;*/
    background-color: #FFC003;
}

#side-navigation .works,
#side-navigation .testimonials {
/*    background-color: #F77B1B;*/
    background-color: #000;
}
#side-navigation li a.works.active,
#side-navigation li a.testimonials.active,
#side-navigation .works:hover,
#side-navigation .testimonials:hover {
/*    background-color: #F2AF7C;*/
    background-color: #F77B1B;
}

.no-background {
    background: none !important;
}

/* home page */
div.more-eyeballs h3{
    background-color: #000;
    display: inline;
    font-size: 3em;
    padding: 0 5px 0;
    color: #F7BD00;
}

div.more-eyeballs {
    margin: 50px 0 0 0;
    overflow: hidden;
}

div.more-eyeballs div {
    margin-top: 10px;
}

#home-intro {
    margin-top: 2px;
    background: #FFC001;
    padding: 5px;
}

#nostalgia-navigation-name-box {
    background: url('../image/logo_white.png') no-repeat;
}

.bold {
    font-weight: bold;
}

/* strike-post */
.page-post div.post-image {
    overflow: hidden;
}

.page-post div.post-image > a {
    overflow: hidden;
}

.page-post div.post-image img {
    width: 490px;
    height: 300px;
}