
/**************************************************************************/
/*  Base styles                                                           */
/**************************************************************************/

/**********************************************************************/
/*  Paragraph														  */
/**********************************************************************/

p.subtitle-paragraph
{
    margin-bottom:40px;
}

p.subtitle-paragraph,
p.subtitle-paragraph span.bold
{
    padding:0px;
    font-size:24px;
    font-weight:400;
    line-height:120%;
}

p.subtitle-paragraph span.bold
{
    clear:both;
    display:block;
    font-weight:700;
}

/**********************************************************************/
/*  Accordion														  */
/**********************************************************************/

.nostalgia-accordion
{

}

.nostalgia-accordion .ui-corner-all,
.nostalgia-accordion .ui-corner-top
{
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}

.nostalgia-accordion .ui-accordion-header
{

}

.nostalgia-accordion .ui-accordion-header a
{
    font-size:24px;
    font-weight:500;
    padding:0px 10px 0px 10px;
}

.nostalgia-accordion .ui-accordion-header .ui-icon
{
    display:none;
}

.nostalgia-accordion .ui-accordion-content
{
    padding:15px 0px 15px 0px;
}

.nostalgia-accordion .ui-accordion-content>p
{
    padding-top:0px;
    padding-bottom:0px;
}

.nostalgia-accordion .ui-state-active,
.nostalgia-accordion .ui-state-default,
.nostalgia-accordion .ui-widget-content,
.nostalgia-accordion .ui-widget-header .ui-state-active,
.nostalgia-accordion .ui-widget-content .ui-state-active,
.nostalgia-accordion .ui-widget-header .ui-state-default,
.nostalgia-accordion .ui-widget-content .ui-state-default
{
    border:none;
}

.nostalgia-accordion .ui-widget-content
{
    background:none;
}

.nostalgia-accordion .ui-state-default,
.nostalgia-accordion .ui-widget-header .ui-state-default,
.nostalgia-accordion .ui-widget-content .ui-state-default
{
    background:#000000 url('../image/icon_plus.png') right center no-repeat;
}

.nostalgia-accordion .ui-state-active,
.nostalgia-accordion .ui-widget-header .ui-state-active,
.nostalgia-accordion .ui-widget-content .ui-state-active
{
    background:transparent url('../image/icon_minus.png') right center no-repeat;
}

.nostalgia-accordion .ui-state-active a
{
    padding-left:0px;
}

/**********************************************************************/
/*  Image list														  */
/**********************************************************************/

ul.image-list
{
    margin:0px;
    padding:0px;
    list-style-type:none;
}

ul.image-list li
{
    width:230px;
    margin-bottom:30px;
}

ul.image-list li a
{
    width:230px;
    height:150px;
    display:block;
}

ul.image-list li.left
{
    clear:both;
    float:left;
}

ul.image-list li.right
{
    float:right;
}

ul.image-list div.image-list-caption
{
    padding:10px;
    padding-right:40px;
    background:#000000 url('../image/icon_plus_yellow.png') 97% center no-repeat;
}

ul.image-list div.image-list-caption div.image-list-caption-subtitle
{
    font-size:11px;
}

/**********************************************************************/
/*  Fancybox														  */
/**********************************************************************/

a.fancybox-image,
/*a.work-img,*/
a.fancybox-video
{
    width:230px;
    height:150px;
    display:block;
    position:relative;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-image:url('../image/preloader.gif');
}

.page-post a.fancybox-image, a.work-img,
/*.page-works a.fancybox-image, a.work-img,*/
.page-testimonials a.fancybox-image, a.work-img {
    background-image: url('../image/ajax-loader-orange.gif');
}

a.fancybox-image img,
/*a.work-img img,*/
a.fancybox-video img
{
    display:none;
    position:absolute;
}

a.fancybox-image span,
a.work-img span,
a.fancybox-video span
{
    opacity:0;
    width:100%;
    height:100%;
    cursor:pointer;
    position:absolute;
    background-color:#000000;
    background-repeat:no-repeat;
    background-position:50% 50%;
    #filter:alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

a.fancybox-image span,
a.fancybox-video span,
a.work-img span,
a.fancybox-image:hover span,
a.fancybox-video:hover span,
a.work-img:hover span
{
    transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

a.fancybox-image:hover span,
a.work-img:hover span,
a.fancybox-video:hover span
{
    opacity:0.8;
    #filter:alpha(opacity=80);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

a.fancybox-image span  { background-image:url('../image/thumb_image_overlay.png'); }
a.work-img span  { background-image:url('../image/thumb_image_overlay.png'); }
a.fancybox-video span  { background-image:url('../image/thumb_video_overlay.png'); }

/**************************************************************************/
/*  About		                                                          */
/**************************************************************************/

div.page-about
{

}

div.page-about #advertisers > i{
    background-image:url('../image/icon/icon-1/icon_people.png');
    position: absolute;
    min-width: 48px;
    min-height: 48px;
}

#advertisers > p {
    margin-left: 60px;
}

div.page-about #advertisers-list,
div.page-about #cover-countries-list {
    margin-left: 90px;
    padding-left: 20px;
}

div.page-about ul.list-1
{
}

div.page-about ul.list-1 li
{
    margin-bottom:25px;
}

div.page-about ul.list-1 li p span
{
    float:left;
    display:block;
    margin-right:20px;
}

div.page-about ul.list-1 li h3
{
    margin-top:0px;
    margin-bottom:10px;
}

/**************************************************************************/
/*  Blog		                                                          */
/*	Post																  */
/**************************************************************************/

div.page-blog
{

}

div.page-post
{

}

/**********************************************************************/
/*  Blog / Category list	                                          */
/**********************************************************************/

div.page-blog ul.blog-category-list
{
    margin:0px;
    padding:0px;
    margin-top:10px;
    list-style-type:none;
    border-left:double 3px #000000;
}

div.page-blog ul.blog-category-list li
{
    clear:both;
    padding-left:25px;
}

div.page-blog ul.blog-category-list li a
{
    padding:2px;
    font-size:12px;
}

div.page-blog ul.blog-category-list li a:hover,
div.page-blog ul.blog-category-list li a.selected
{
    text-decoration:none;
}

/**********************************************************************/
/*  Blog / Post	list		                                          */
/**********************************************************************/

ul.blog-list
{
    margin:0px;
    padding:0px;
    list-style-type:none;
}

/******************************************************************/
/*  Blog / Post			                                          */
/*  Post													      */
/******************************************************************/

ul.blog-list li.blog-list-post
{
    margin-top:30px;
}

div.post
{

}

/**************************************************************/
/*  Blog / Post / Header								      */
/*	Post / Header											  */
/**************************************************************/

ul.blog-list li.blog-list-post div.blog-list-post-header
{

}

div.post div.post-header h3,
div.post div.post-header span,
ul.blog-list li.blog-list-post div.blog-list-post-header h3,
ul.blog-list li.blog-list-post div.blog-list-post-header span
{
    line-height:120%;
}

div.post div.post-header span span.month,
ul.blog-list li.blog-list-post div.blog-list-post-header span span.month
{
    float:left;
    margin-right:10px;
    padding-right:10px;
    border-right:solid 1px #FFFFFF;
}

div.post div.post-header h3,
ul.blog-list li.blog-list-post div.blog-list-post-header h3
{
    width:80%;
    float:left;
    margin:0px;
}

div.post div.post-header span,
ul.blog-list li.blog-list-post div.blog-list-post-header span
{
    float:right;
    font-size:30px;
}

/**************************************************************/
/*  Blog / Post / Image									      */
/**************************************************************/

div.post div.post-image,
ul.blog-list li.blog-list-post div.blog-list-post-image
{
    margin-top:15px;
}

div.post div.post-image a.fancybox-image,
div.post div.post-image a.fancybox-video,
ul.blog-list li.blog-list-post div.blog-list-post-image a.fancybox-image,
ul.blog-list li.blog-list-post div.blog-list-post-image a.fancybox-video
{
    width:490px;
    height:200px;
}

div.post div.post-image a.fancybox-image span,
ul.blog-list li.blog-list-post div.blog-list-post-image a.fancybox-image span
{
    background-image:url('../image/blog_thumb_image_overlay.png');
}

div.post div.post-image a.fancybox-video span,
ul.blog-list li.blog-list-post div.blog-list-post-image a.fancybox-video span
{
    background-image:url('../image/blog_thumb_video_overlay.png');
}

/**********************************************************/
/*  Blog / Post / Image / Caption						  */
/*  Post / Image / Caption								  */
/**********************************************************/

div.post div.post-image div.caption,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption
{
    background:#000000;
    padding:10px 20px 10px 20px;
}

div.post div.post-image div.caption,
div.post div.post-image div.caption a,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption a
{
    font-size:12px;
}

div.post div.post-image div.caption a:hover,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption a:hover
{
    text-decoration:underline;
}

div.post div.post-image div.caption span.author,
div.post div.post-image div.caption span.comment,
div.post div.post-image div.caption span.category,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption span.author,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption span.comment,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption span.category
{
    float:left;
    display:block;
    padding-left:20px;
}

div.post div.post-image div.caption span.category,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption span.category
{

}

div.post div.post-image div.caption span.author,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption span.author
{
    margin-left:30px;
}

div.post div.post-image div.caption span.comment,
ul.blog-list li.blog-list-post div.blog-list-post-image div.caption span.comment
{
    float:right;
}

/**************************************************************/
/*  Blog / Post / Content									  */
/*  Post / Content											  */
/**************************************************************/

div.post p.post-content
{
    margin-top:20px;
}

ul.blog-list li.blog-list-post p.blog-list-post-content
{
    margin-top:10px;
}

ul.blog-list li.blog-list-post a.read-more
{
    float:left;
    clear:both;
    display:block;
    min-width:10px;
    min-height:5px;
    margin-top:10px;
    font-style:italic;
    padding-right:20px;
    background-repeat:no-repeat;
    background-position:right center;
    background-image:url('../image/icon_arrow.png');
}

/**********************************************************************/
/*  Post / Comment list		                                          */
/**********************************************************************/

ul.comment-list,
ul.comment-list li ul
{
    margin:0px;
    padding:0px;
    list-style-type:none;
}

ul.comment-list
{
    margin-top:20px;
}

ul.comment-list li ul
{
    margin-left:80px;
}

ul.comment-list li,
ul.comment-list li ul li
{

}

ul.comment-list li>div.clear-fix,
ul.comment-list li ul lidiv.clear-fix
{
    margin-bottom:25px;
}

ul.comment-list li div>img
{
    float:left;
}

ul.comment-list li,
ul.comment-list li p
{
    font-size:13px;
}

ul.comment-list li div>span
{
    display:block;
    font-size:12px;
    font-weight:bold;
}

ul.comment-list li div>p
{
    margin-top:0px;
    padding-top:0px;
}

ul.comment-list li div>p,
ul.comment-list li div>span
{
    padding:0px 0px 0px 100px;
}

/**************************************************************************/
/*  Contact		                                                          */
/**************************************************************************/

div.page-contact
{

}

div.page-contact div.contact-details
{

}

div.page-contact div.contact-details-about
{
    float:left;
    width:205px;
    height:200px;
    padding:20px;
    line-height:170%;
    background:#000000;
    background-repeat:no-repeat;
    background-position:95% 95%;
    background-image:url('../image/icon_plus_yellow.png');
}

div.page-contact div.contact-details-about ul
{
    margin-top:20px;
}

div.page-contact div.contact-details-about ul li
{
    padding-left: 18px;
}

#map,
div.page-contact div.contact-details-map
{
    width:245px;
    height:200px;
}

div.page-contact div.contact-details-map
{
    float:right;
    width:245px;
    height:200px;
    position:relative;
}

div.page-contact div.contact-details-map div.contact-details-map-arrow
{
    top:20px;
    z-index:10;
    width:18px;
    height:35px;
    position:absolute;
    background-repeat:no-repeat;
    background-position:0px 0px;
    background-image:url('../image/icon_map_arrow.png');
}

.see-link {
    font-style: italic;
    font-size: 20px;
}

/* bandanas - about */
#nostalgia-tab[data-class="home"],
#nostalgia-tab[data-class="about"],
#nostalgia-tab[data-class="pricing"],
#nostalgia-tab-content[data-class="home"],
#nostalgia-tab-content[data-class="about"],
#nostalgia-tab-content[data-class="pricing"] .jspTrack,
#nostalgia-tab-content[data-class="about"] .jspTrack,
#nostalgia-tab-content[data-class="pricing"],
#nostalgia-tab-content[data-class="pricing"] ul.social-list,
#nostalgia-tab-content[data-class="about"] ul.social-list {
    background-color: #CBCF1A;
}

#nostalgia-tab-content[data-class="about"] .jspDrag,
#nostalgia-tab-content[data-class="pricing"] .jspDrag {
    background-color: #9EA11A;
}

#nostalgia-tab[data-class="contact"],
#nostalgia-tab-content[data-class="contact"] .jspTrack,
#nostalgia-tab-content[data-class="contact"],
#nostalgia-tab-content[data-class="contact"] ul.social-list {
    background-color: #FFC003;
}

#nostalgia-tab[data-class="works"],
#nostalgia-tab[data-class="testimonials"],
#nostalgia-tab-content[data-class="works"],
#nostalgia-tab-content[data-class="works"] .jspTrack,
#nostalgia-tab-content[data-class="testimonials"] .jspTrack,
#nostalgia-tab-content[data-class="testimonials"],
#nostalgia-tab-content[data-class="testimonials"] ul.social-list,
#nostalgia-tab-content[data-class="works"] ul.social-list {
    background-color: #F77B1B;
}

#nostalgia-tab-content[data-class="works"] .jspDrag,
#nostalgia-tab-content[data-class="testimonials"] .jspDrag {
    background-color: #B85A12;
}

.page-about .subtitle-paragraph {
    margin-bottom: 20px;
}

#bandanas {
    padding: 7px;
    border: 2px solid #444;
    margin-bottom: 30px;
}

#bandanas p {
    font-family: 'Dosis';
}

/* advertisers */
#advertisers {
    margin-bottom: 20px;
    margin-left: 0;
}

#advertisers p.subtitle-paragraph {
    margin-left: 0;
    padding-left: 0 !important;
    color: #fff;
}

#advertisers p.subtitle-paragraph {
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

#advertisers-wrapper {
    margin-bottom: 20px;
}

#advertisers-wrapper span.smart-people {
    font-size: 20px;
    padding-left: 11px;
    color: #000;
}

#advertisers-list,
#cover-countries-list {
    margin-left: 0 !important;
    list-style: none;
    overflow: hidden;
}

#advertisers-list li,
#cover-countries-list li {
    font-size: 1em;
    line-height: 1.55em;
    color: #000;
    padding: 2px 0 0 25px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    width: 200px;
    float: left;
}

#advertisers-list li:hover,
#cover-countries-list li:hover {
    background-color: #000;
    color: #fff;
}

#advertisers-list li:hover a,
#cover-countries-list li:hover a {
    color: #fff;
    text-decoration: none;
}

#advertisers-list li i,
#cover-countries-list li i {
    background: #fff url('../image/icon/glyphicons-halflings.png') -332px -93px no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;

}

#advertisers-list li:hover i,
#cover-countries-list li:hover i {
    background: #000 url('../image/icon/glyphicons-halflings-white.png') -332px -93px no-repeat;
}

#advertisers h2 {
    font-size: 18px;
    font-family: 'Dosis';
    margin-top: 20px;
}

#advertisers section.testimonial {
    padding-top: 20px;
}

#advertisers section.testimonial p.subtitle-paragraph {
    color: #fff;
    padding-left: 0;
}

#advertisers section.testimonial .emphasize {
    font-weight: bold;
    text-decoration: none;
    padding: 0 4px;
    position: relative;
    width: 153px;
    display: inline-block;
}

#advertisers section.testimonial .emphasize:hover {
    background-color: #000;
    color: #fff;
}

#advertisers section.testimonial .emphasize:hover i{
    background: url('../image/icon/glyphicons-halflings-white.png') -262px -96px no-repeat;
}

#advertisers section.testimonial i.look-at-this {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    right: 0;
    background: url('../image/icon/glyphicons-halflings.png') -262px -96px no-repeat;
}

/* works */
.works-list h2{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Dosis';
    margin-bottom: 10px;
}

.great-works div.image-list-caption {
    min-height: 40px;
}

.great-works .work-title{
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.great-works div.image-container {
    width: 230px;
    height: 150px;
    background-color: #FFF;
    text-align: center;
}

.great-works a.work-img {
    width: 100%;
    height: 100%;
    position:relative;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-image: url('../image/ajax-loader-orange.gif');
}

.great-works img {
    height: auto;
    max-height: 150px;
    display:none;
    position:relative;
}

.great-works a.work-img span {
    top: 0;
    left: 0;
}

/* testimonials page */
.page-testimonials .testimonial-list-post-image {
    overflow: hidden;
/*    width: 490px;*/
    width: 200px;
}

.page-testimonials .testimonial-list-post-image img {
/*    width: 490px;*/
    width: 200px;
}

.page-testimonials .testimonial-list-post-content {
    overflow: hidden;
    padding: 0 0 0 15px !important;
    text-indent: 20px;
    text-align: justify;
    width: 260px;
}

ul.testimonial-list {
    margin-bottom: 40px;
}

.page-testimonials ul.testimonial-list .testimonial-post {
    overflow: hidden;
}

.testimonial-list-post-image span.mist {
    background-color: #444;
}

.testimonial-list-post-image.testimonial-1 {
    height: 150px;
    float: left;
}

.testimonial-list-post-image.testimonial-1 a.fancybox-image {
    width: 200px;
    height: 150px;
}

.testimonial-list-post-image.testimonial-2 a.fancybox-image {
    width: 200px;
    height: 150px;
}

.testimonial-list-post-image.testimonial-2 {
    height: 150px;
    float: right;
}

.testimonial-list-post-image.testimonial-3 a.fancybox-image {
    width: 200px;
    height: 150px;
}

.testimonial-list-post-image.testimonial-3 {
    height: 150px;
    float: left;
}

.testimonial-list-post-image.testimonial-4 a.fancybox-image {
    width: 200px;
    height: 150px;
}

.testimonial-list-post-image.testimonial-4 {
    height: 150px;
    float: right;
}

.emphasize {
    color: #000;
    text-decoration: underline;
}

/* pricing */

.page-pricing p.pricing-explanation {
    font-weight: normal;
}

.page-pricing .nostalgia-accordion p.lead {
    font-weight: bold;
}

.page-pricing span.recommend, .page-pricing span.includes, .page-pricing span.money-required, .page-pricing span.executive-take {
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin-top: 15px;
}

.page-pricing h3.money {
    margin: 0;
    color: #000;
}

.page-pricing p.normal {
    font-weight: normal;
}

.page-pricing ul.package-list {
    list-style: none;
    padding-left: 20px;
}

.page-pricing ul.package-list li {
    position: relative;
    padding: 0 0 0 15px;
}

.page-pricing ul.package-list li i{
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 5px;
}

.page-pricing span.amount {
    float: right;
    margin-right: 40px;
}

.page-pricing .buy-button {
    margin-bottom: 20px;
}

.page-pricing .buy-button a {
    border: 1px solid #ccc !important;
    background: #E6E6E6 url(../style//images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x !important;
    font-weight: normal;
    color: #555;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    float: right;
/*    margin-right: 40px;*/
}

.page-pricing .buy-button a:active,
.page-pricing .buy-button a:hover {
    border: 1px solid #999;
    background: #DADADA url(../style/jquery-ui/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x !important;
    font-weight: normal;
    color: #212121;
}

.page-pricing .buy-button span {
    padding-left: 28px;
}

.page-pricing .buy-button span i {
    width: 20px;
    height: 20px;
    background: url('../image/icon/glyphicons-halflings.png') -356px -117px no-repeat;
    position: absolute;
    left: 5px;
}

#non-profit {
    margin-top: 50px;
}

p.package-deal, p.executive-take {
    margin-top: 20px;
}

.pricing-questions {
    margin: 30px 0 20px 0;
}

.pricing-questions ul {
    padding: 5px;
    list-style: none;
}

.pricing-questions li {
    border-bottom: 1px solid #fff !important;
    overflow: hidden;
}

.pricing-questions li.question-header {
    font-weight: normal;
    font-size: 16px;
}

.pricing-questions #question-to-ask,
.pricing-questions .question{
    width: 370px;
    display: inline-block;
    float: left;
}

.pricing-questions .question {
    font-weight: bold;
}

.pricing-questions .answer.first{
    min-height: 41px;
    line-height: 37px;
}


.pricing-questions .answer {
/*    background-color: #91D91E;*/
    background-color: #72AB07;
    padding: 2px 0 0 30px;
    overflow: hidden;
    width: auto;
    position: relative;
    color: #fff;
}

.pricing-questions .answer i{
    background: url('../image/icon/glyphicons-halflings-white.png') -286px 1px no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 5px;
}

.pricing-questions .answer.first i{
    top: 12px;
}

.page-pricing #best-package-recommended-brands span.package-logos,
.page-pricing #small-package-recommended-brands span.package-logos {
    padding: 7px;
}

#broadcast-package-recommended-brands span.package-logos {
    padding: 4px;
}

.page-pricing #best-package-recommended-brands,
.page-pricing #broadcast-package-recommended-brands,
.page-pricing #small-package-recommended-brands {
    margin: 15px 0;
    overflow: hidden;
}

/* links */
#side-navigation .about,
#side-navigation .pricing {
    background-color: #000;
/*    background-color: #CBCF1A;*/
}
#side-navigation li a.about.active,
#side-navigation li a.pricing.active,
#side-navigation .about:hover,
#side-navigation .pricing:hover {
/*    background-color: #CCCF5B;*/
    background-color: #CBCF1A;
}

#side-navigation .contact{
    background-color: #000;
/*    background-color: #FFC003;*/
}


#side-navigation li a.contact.active,

#side-navigation .contact:hover {
/*    background-color: #FAD975;*/
    background-color: #FFC003;
}

#side-navigation .home,
#side-navigation .works,
#side-navigation .testimonials {
/*    background-color: #F77B1B;*/
    background-color: #000;
}

#side-navigation li a.home.active,
#side-navigation li a.works.active,
#side-navigation li a.testimonials.active,
#side-navigation .home:hover,
#side-navigation .works:hover,
#side-navigation .testimonials:hover {
/*    background-color: #F2AF7C;*/
    background-color: #F77B1B;
}

.no-background {
    background: none !important;
}

/* home page */
div.more-eyeballs {
/*    background-color: #000;*/
    text-align: center;
}

div.more-eyeballs h3 {
    display: inline;
    font-size: 3em;
    padding: 0 5px 0;
/*    color: #F7BD00;*/
    text-shadow: 0 0 0.5em #F7BD00, 0 0 0.5em #F7BD00, 0 0 0.5em #F7BD00;
    font-weight: bold;
/*    color: white;*/
    color: black;
}

div.more-eyeballs {
    margin: 80px 0 0 0;
    overflow: hidden;
    padding: 20px 0;
}

div.more-eyeballs div {
    margin-top: 10px;
}

#supersized-control {
    width: 394px;
}

#nextslide, #prevslide {
    color: white;
    width: auto;
    line-height: 32px;
    font-size: 10px;
}

#nextslide {
    padding: 0 20px 0 8px;
    line-height: 33px;
    background-position: 55px 0;
}

#prevslide {
    padding: 0 8px 0 20px;
    background-position: -8px 0;
    line-height: 33px;
}

#home-intro {
    margin-top: 2px;
    background: #FFC001;
    padding: 20px;
}

#nostalgia-navigation-name-box {
    background: url('../image/logo_white.png') no-repeat;
}

#supersized-control {
    position: absolute;
    top: 590px;
    right: 0;
}

#slidecaption {
    height: 19px;
}

.bold {
    font-weight: bold;
}

#show-page {
    font-weight: bold;
}

#show-page:hover {
    cursor: pointer !important;
    color: white;
}

/* strike-post */
.page-post > .post {
    min-height: 500px;
}

.page-post span.back-button {
    position: relative;
    display: inline-block;
}

.page-post span.back-button a {
    margin-left: 20px;
}

.page-post span.back-button i {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    left: 0;
    background: url('../image/icon/glyphicons-halflings.png') -239px -96px no-repeat;
}

.page-post #dictator-poster-img {
    margin: -50px 0 0 95px;
}

.page-post div.post-image > a {
    overflow: hidden;
    background-color: white;
}

#strike-post-img img{
    margin: -162px 0 0 -70px;
}

#rooftop-poster-img {
    margin: -310px 0 0;
}

#rodstewart-post-img {
    margin: -160px 0 0 -100px;
}

#mtv-post-img1 {
    margin: -100px 0 0 0;
}

#mtv-post-img2 {
    margin: -105px 0 0 0;
}

#rockstar-post-img {
    margin: -18px 0 0 -289px;
}

/* side contact */
#remember-telephones-wrapper,
#side-contact-wrapper {
    background: #fff;
    top: 200px;
    position: fixed;
    width: 180px;
    font-size: 12px;
    z-index: 9;
}

#remember-telephones-wrapper.right,
#side-contact-wrapper.right {
    right: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;

    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#remember-telephones-wrapper.left,
#side-contact-wrapper.left {
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;

    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    left: 0;
}

#remember-telephones-details,
#side-contact-details {
    padding: 5px;
    border: 1px solid black;
    font-size: 12px;
    margin: 8px;
}

#remember-telephones-details.right,
#side-contact-details.right {
    margin: 8px 0 8px 8px;
    border-right: none;

    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;

    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#remember-telephones-details.left,
#side-contact-details.left {
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;

    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    margin: 8px 8px 8px 0 !important;
/*    border: 1px solid #000;*/
    border-left: none;
}

#remember-telephones-details span.header-plain,
#side-contact-details span.header-plain {
    margin-top: 5px;
    display: inline-block;
    font-weight: bold;
}

/*#side-contact-details h3.header-plain {
    font-weight: bold;
    margin: 10px 0 0 0;
    line-height: 16px;
    color: #000;
    font-size: 14px;
}

#side-contact-details h3.header-orange {
    padding: 3px 5px;
    margin: 0 0 10px 0;
    background: #FFC003;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}*/

#remember-telephones-wrapper p,
#side-contact-wrapper p {
    padding: 0;
/*    line-height: 14px;*/
}

#remember-telephones-wrapper p a,
#side-contact-wrapper p a {
    line-height: 20px;
    font-size: 1.5em;
/*    font-size: 12px;*/
    color: #000;
}

#remember-telephones p a:hover,
#side-contact-wrapper p a:hover {
    color: #F77B1B;
    text-decoration: none;
}

#remember-telephones-wrapper p b,
#side-contact-wrapper p b {
    padding: 0 10px 0 0;
}

#side-contact-wrapper i.give-us-call-icon {
    width: 35px;
    height: 32px;
    position: absolute;
    right: 86px;
    bottom: 8px;
    background: url('../image/call_small.png') no-repeat;
    background-size: 26px 25px;
}

#side-contact-details.left i.give-us-call-icon {
    right: 93px;
}

#remember-telephones-wrapper i.call-us-icon {
    width: 20px;
    height: 27px;
    position: absolute;
    right: 35px;
    bottom: 11px;
    background: url('../image/call_small.png') no-repeat;
    background-size: 24px 23px;
}

.hide {
    display: none;
}

/* contact us page */
.page-contact #contact-details,
.page-contact #sales-inq {
    height: 180px !important;
    margin-bottom: 15px;
}

.page-contact #contact-details ul {
    margin-top: 0 !important;
}

#contact-details i#location {
    width: 15px;
    height: 15px;
    position: relative;
    display: inline-block;
    margin-right: 3px;
    background: url('../image/icon/glyphicons-halflings-white.png') -22px -72px no-repeat;
}

#contact-details #address {
    margin-left: 3px;
}

#sales-inq {
    padding: 20px;
    background: white;
    float: right;
    width: 205px;
    position: relative;
    margin: 0;
}

#sales-inq li {
    line-height: 14px;
}

#sales-inq .sales-inq-arrow {
    top: 0px;
    z-index: 10;
    width: 18px;
    height: 35px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-image: url('../image/icon_map_arrow.png');
    left: 0;
}

#sales-general-inq {
    font-weight: bold;
}

#sales-inq p.sales-general-inq {
    padding-bottom: 0 !important;
}

#sales-inq ul li.contact-person {
    padding: 0 !important;
    font-weight: bold;
    position: relative;
}

#sales-inq li.contact-person.chris {
    margin-top: 10px;
}

#sales-inq .contact-person span.name {
    padding-left: 20px;
}

#sales-inq .contact-person i {
    position: absolute;
}

#sales-inq .contact-person i.mike {
    background: url('../image/icon/gumby_small.png') -2px -1px no-repeat;
}

#sales-inq .contact-person i.chris {
    background: url('../image/icon/pokey_small.png') -2px -1px no-repeat;
}

#sales-inq li.contact-number,
#sales-inq li.contact-email {
    margin-left: 5px !important;
    font-size: 12px !important;
}

#sales-inq li.contact-email a {
    font-size: 12px !important;
}

#sales-inq li i {
    width: 20px;
    height: 20px;
    background: #000;
}

#sales-inq li.contact-number i,
#sales-inq li.contact-email i {
    width: 20px;
    height: 20px;
    display: inline-block;
}

#sales-inq li.contact-number i {
    background: url('../image/icon/glyphicons-halflings.png') -191px -113px no-repeat;
}

#sales-inq li.contact-email i {
    background: url('../image/icon/glyphicons-halflings.png') -71px 7px no-repeat;
}

#contact-us-img {
    background: url('../image/goomba.png') no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 5px;
    top: 3px;
}

.contact-form input {
    width: 155px;
    padding: 0;
    font-family: Arial;

    border-bottom-color: #EEE;
    border-bottom-style: inset;
    border-bottom-width: 2px;
    border-left-color: #EEE;
    border-left-style: inset;
    border-left-width: 2px;
    border-right-color: #EEE;
    border-right-style: inset;
    border-right-width: 2px;
    border-top-color: #EEE;
    border-top-style: inset;
    border-top-width: 2px
}

.contact-form {
    font-size: 12px;
    font-family: Arial;
}

.contact-form p {
    padding: 12px 0 5px;
}

.contact-form button {
    float: right;
}

.contact-form button span.loader {
    padding-left: 30px;
    background-position: 8px 7px;
}

div.ui-widget-overlay {
    background-color: #ccc;
}

div.ui-dialog-titlebar {
/*    background: #ECB407;*/
    color: #444;
}

.contact-form label.error {
    display: none !important;
}

.contact-form input.error {
/*    background-color: #EBD07F;*/
    background-color: #ccc;
}

#best-package-contact-form p {
    line-height: 28px;
}

.loader {
    padding-left: 20px;
    background: url('../image/ajax-loader-light-gray.gif') no-repeat;
}

/* page why-us */
.page-why-us li.service {
    background: url('../image/icon/img-good.png') no-repeat;
}
.page-why-us li.price {
    background: url('../image/icon/low-price-guarantee-small.png') no-repeat;
}
.page-why-us li.distribution {
    background: url('../image/icon/img-distributor.png') no-repeat;
}
.page-why-us li.speed {
    background: url('../image/icon/img-speed.png') no-repeat;
}
.page-why-us li.guarantee {
    background: url('../image/icon/guarantee.png') no-repeat;
}

.page-why-us p.strong-subtitle {
    font-weight: bold;
}
