.content {
  margin-top: 40px;
}

.content > header {
  border-bottom:  1px solid #444;
}

section.works {
  overflow:  hidden;
  margin-top: 20px;
}

.carousel-inner img {
  margin: 0 auto !important;
}

.wrapper > header {
  padding-bottom: 20px;
  border-bottom: 2px solid #444;
}
